<a href="https://colab.research.google.com/github/sofvarela10/Repo_Curso_Python/blob/main/Clase3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Variables

In [5]:
#VARIABLES

numero = 17
decimal = 0.7
texto= "Texto"
booleanos = True

print(numero)
print(type(numero))

print(decimal)
print(type(decimal))

print(texto)
print(type(texto))

print(booleanos)
print(type(booleanos))

17
<class 'int'>
0.7
<class 'float'>
Texto
<class 'str'>
True
<class 'bool'>

In [7]:
algo9=4
alg_=7

print(algo9)

4

In [8]:
tupla = ("hola", 2)                   #Es inmutable. O sea que no puedes modificar 
                                      #sus valores ya declarados

lista = [6,7,3,1,6]                   #Los valores son dinámicos y ordenados, 
                                      #si importa donde se colocan

set_ = {1,2,3,5,1,1}                  #No le llamo set porque es la función y se 
                                      #puede confundir con la variable
                                      #Al imprimir set_ sale : {1, 2, 3, 5}. 
                                      #Sólo coloca 1 una vez, ya que una característica 
                                      #del set es que no se repiten los valores que tiene dentro.

diccionario = {2:2, 1:5}              #Puedo guardar dos números. Define entre una 
                                      #llave que tiene un valor asociado y va en pares. 

print(tupla)
print(type(tupla))

print(lista)
print(type(lista))

print(set_)
print(type(set_))

print(diccionario)
print(type(diccionario))

('hola', 2)
<class 'tuple'>
[6, 7, 3, 1, 6]
<class 'list'>
{1, 2, 3, 5}
<class 'set'>
{2: 2, 1: 5}
<class 'dict'>