<a href="https://colab.research.google.com/github/sofvarela10/Repo_Curso_Python/blob/main/Tema_04.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Conversión de datos

In [9]:
a=3
b="12"
c= a + b
print (c)

TypeError: ignored

In [14]:
#String a entero
r= "12"
print(type(r))

s=int(r)
print(type(s))

r=int(r)
print(type(r))

x= r+2
print(x)

<class 'str'>
<class 'int'>
<class 'int'>
14

In [17]:
#Entero a string
r=12
print(type(r))

r=str(r)
print(type(r))

s="Número: " + r
print(s)

<class 'int'>
<class 'str'>
Número: 12

In [19]:
#String a flotante
r= "12.7"
print(type(r))

r=float(r)
print(type(r))

x= r+2
print(x)

<class 'str'>
<class 'float'>
14.7

In [21]:
#Flotante a string
r= 12.7
print(type(r))

r=str(r)
print(type(r))

s="Número: " + r
print(s)

<class 'float'>
<class 'str'>
Número: 12.7

In [26]:
Edad= input("Introduce tu edad: ")
print(type(Edad))

#Convertimos a flotante
Edad_num=float(Edad)
print(type(Edad_num))
print(Edad_num)

Introduce tu edad: 21
<class 'str'>
<class 'float'>
21.0

In [29]:
#De manera más compacta:

Edad= float(input("Introduce tu edad: "))
print(type(Edad))

Edad_nueva=Edad*2-2
print (Edad_nueva)

Introduce tu edad: 20
<class 'float'>
38.0